<div class="cont">
  <form [formGroup]="recipeForm" (submit)="onSubmit()">
    <div class="">
      <div>
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!recipeForm.valid"
        >
          Save
        </button>
        <button class="btn btn-danger ms-3" (click)="onCancel()">Cancel</button>
        <div class="mt-4">
          <label for="name">Name</label><br />
          <input type="text" id="name" formControlName="name" /> <br />
          <label for="imagePath" class="mt-3">Image URL</label><br />
          <input
            type="text"
            id="imagePath"
            formControlName="imageUrl"
            #imageUrlIdentifier
          /><br />
          <div>
            <label for="description" class="mt-3">Description</label><br />
            <textarea
              id="description"
              rows="6"
              formControlName="description"
            ></textarea>
          </div>
        </div>
        <div class="mt-3" formArrayName="ingredients">
          <div
            *ngFor="let i of getIngredientsFromRecipeForm(); let j = index"
            [formGroupName]="j"
          >
            <input type="text" formControlName="name" />
            <input type="text" class="ms-3" formControlName="amount" />
            <button
              class="btn btn-danger ms-2 mt-2"
              type="button"
              (click)="onDeletingIngredient(j)"
            >
              X
            </button>
          </div>
        </div>
      </div>
      <div>
        <img
          *ngIf="imageUrlIdentifier.value"
          [src]="imageUrlIdentifier.value"
          style="height: 100px; width: 100px"
        />
      </div>
    </div>
    <button
      class="btn btn-warning"
      (click)="onAddIngredients()"
      type="button"
      [disabled]="!recipeForm.valid"
    >
      Add Ingredients
    </button>
  </form>
</div>
