<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder" routerLink="/recipes">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-5" *ngIf="isAuthenticated">
          <a
            class="nav-link active fw-bold"
            routerLink="/recipes"
            routerLinkActive="active1"
            >Recipes</a
          >
        </li>
        <li class="nav-item me-5">
          <a
            class="nav-link fw-bold"
            routerLink="/shopping-list"
            routerLinkActive="active1"
            >Shopping List</a
          >
        </li>
        <li class="nav-item me-5" *ngIf="!isAuthenticated">
          <a
            class="nav-link fw-bold"
            routerLink="/auth"
            routerLinkActive="active1"
            >Authenticate</a
          >
        </li>
        <li class="nav-item me-5" *ngIf="isAuthenticated">
          <a
            class="nav-link fw-bold"
            (click)="onLogout()"
            routerLinkActive="active1"
            >Logout</a
          >
        </li>
        <li class="nav-item dropdown" myDropDown *ngIf="isAuthenticated">
          <a
            class="nav-link dropdown-toggle fw-bold"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            myDropDown
          >
            Manage
          </a>
          <ul class="dropdown-menu" myDropDown>
            <li>
              <a class="dropdown-item" (click)="onSavedata()">Save Data</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onfetchData()">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
