<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder" href="#">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-5">
          <a
            class="nav-link active fw-bold"
            routerLink="/recipes"
            routerLinkActive="active1"
            >Recipes</a
          >
        </li>
        <li class="nav-item me-5">
          <a
            class="nav-link fw-bold"
            routerLink="/shopping-list"
            routerLinkActive="active1"
            >Shopping List</a
          >
        </li>
        <li class="nav-item dropdown" myDropDown>
          <a
            class="nav-link dropdown-toggle fw-bold"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            myDropDown
          >
            Manage
          </a>
          <ul class="dropdown-menu" myDropDown>
            <li><a class="dropdown-item">Save Data</a></li>
            <li><a class="dropdown-item">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
